<!DOCTYPE html>
<html lang="en">
<head>
<title>Optuna Visual Regression Tests</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
body {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
    padding: 64px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0 8px 24px;
    margin: 0px auto;
    border-radius: 8px;
}
.plot-wrapper {
    display: flex;
    flex-direction: row;
}
.plot {
    width: 50%;
    object-fit: contain;
}
</style>
</head>
<body>
    <div class="wrapper">
        <h1>Optuna Visual Regression Tests</h1>
        <h2>plot_optimization_history()</h2>
        {% for study, plotly_file, matplotlib_file in optimization_history_files %}
        <div class="plot-wrapper">
            <img class="plot" src="{{ plotly_file }}">
            <img class="plot" src="{{ matplotlib_file }}">
        </div>
        {% endfor %}
    </div>
</body>
</html>